/* General */

main {
    
}

header, footer {
    background-color: lightgrey;
    height: 175px;
    text-align: center; 
    /*Need to figure out how to drop the h2 in the center*/
}

img {
    width: 100%;
}

/* Groups & Items */

.group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.item {
    flex: 1; 
    margin: 20px; 
    font-size: 24px;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }

}
